<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
    >
  </head>
  <body>
      <noscript>Please enable Javascript to use Orion</noscript>
		<div id="root"></div>
  </body>
</html>